<link href="<%=Location%>dist/css/indexinfo.css" rel="stylesheet" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row testclass">
    <div class="col-sm-9 col-md-9 main">
        <div class='outer-color'>
            <% for (let i = 0; i < Posts.length; i++) {%>
            <div class="Thread">
                <div class="Thread-Info Left">
                    <a href='/User/<%=Posts[i].user.username%>' class='UserTag'>
                        <h4>
                            <%=Posts[i].user.name.firstname%>
                            <%=Posts[i].user.name.lastname%>
                        </h4>
                    </a>
                    <a href='/User/<%=Posts[i].user.username%>' class='UserTag'><img class="Profile" src="/Users/ProfilePictures/human_avatar.jpg"></a>
                    <a href='/User/<%=Posts[i].user.username%>' class='UserTag'>
                        <h4>
                            <%=Posts[i].user.username%>
                        </h4>
                    </a>
                </div>
                <a href='/Thread/<%=Posts[i].thread%>/<%=Posts[i]._id%>' class='UserTag'>
                    <div class="Thread-Info Middle">

                        <h3><b>
                                <%=Posts[i].thread%>
                            </b>
                        </h3>
                        <h4>
                            <i>
                                <%=Posts[i].title%>
                            </i>
                        </h4>
                        <h5 class="PostBody">
                            <%-Posts[i].body%>
                        </h5>

                    </div>
                </a>
                <div class="Thread-Info Right">
                    <div class="Likes">
                        <i class="fa fa-hand-o-up info"></i>
                       
                        <h5>
                            <%=Posts[i].upvote%>
                        </h5>
                    </div>
                    <div class='Likes'>
                        <i class="fa fa-hand-o-down info"></i>
                        <h5>
                            <%=Posts[i].downvote%>
                        </h5>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</div>
<style>
img.Profile{
        border:2px solid black;
    }
</style>
