<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="dist/css/threadinfo.css" rel="stylesheet" media="all">
</head>

<div class="container">
    <div class="jumbotron">
        <div class="media">
            <div class="media-body">
                <h1 class="media-heading">
                    <%=name%>
                </h1>
                <h4>Username:
                    <%=CurrentUser%>
                </h4>
                <h4>Major:
                    <%=major%>
                </h4>
                <h4>Classification:
                    <%=classification%>
                </h4>
            </div>
            <div class="media-right">
                <img src="/img/InkPotLogoLarge.png" class="media-object" style="width:250px">
            </div>
        </div>
    </div>

</div>
<div class='container Post-List'>
    <h2>Posts</h2>
    <div class="jumbotron">
        
        <%for (let i = 0; i < Posts.length; i++) {%>
        <div class="media post">
            <div class="media-body">
                <h4><b>
                    <%=Posts[i].thread%>
                    </b>
                </h4>
                <h5><i>
                    <%=Posts[i].title%>
                    </i>
                </h5>
                <h5>
                    <%-Posts[i].body%>
                </h5>
            </div>
        </div>
        <%}%>
    </div>
</div>
<style>
    .container {
        margin-top: 90px;
        margin-left: 200px;
    }
    .Post-List{
        margin-top: 25px;
    }
    .media-body{
        padding-left: 5px;
    }
    .post {
        background: #00B2A9;
        padding-left:15px;
        border-radius:5px;
    }
    .jumbotron{
        background: #E43C40;
    }
</style>
